<!DOCTYPE html>
<html>
  <head>
    <title>Sample</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/components/angular.min/index.js"></script>
    <script src="/components/angular-resource.min/index.js"></script>
    <script src="/components/angular-animate.min/index.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/services/API.js"></script>
    <script src="/javascripts/controllers/threadController.js"></script>

    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">

  </head>
  <body>
    
    <p>You are logged in as: <%= userName %>.</p>

    <section id="comments">

      <div ng-app="commentSystem" ng-controller="ThreadController">

        <h3>{{thread.body}}</h3>

        <form ng-submit="createPost(thread)">
          <p>
            <textarea ng-model="thread.reply" class="form-control">
            </textarea>
          </p>
          <p><input type="submit" class="btn btn-default"></p>
        </form>
        
        <ul>
          <li ng-repeat="post in thread.children" ng-include="'/javascripts/templates/sub_post.html'"></li>
        </ul>

      </div>
      
    </section>

  </body>
</html>
