<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/app.js"></script>
    <script src="/components/jquery/dist/jquery.js"></script>
  </head>
  <body>
    <input type="submit" id="thread-create" value="Create New Thread">

    <section id="threads">
    </section>
  </body>
</html>
